@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand: #0092E4;
  --color-brand-darker: #0073c2;
  --color-brand-100: #3D92DE;

  --color-skeleton: #D9D9D9;

  --color-white-100: #EBEDF5;
  --color-white-200: #D8DBEB;
  --color-white-400: rgba(235, 237, 245, 1);
  --color-white-500: #D8DBEB;
  --color-white-600: #FAFAFC;

  --color-blue-300: #436ecb;
  --color-blue-400: #5383ec;
  --color-blue-500: #2F72BC;
  --color-blue-600: #0058E3;
  --color-blue-700: #0073c2;

  --color-gray-50: #B4BAD6;
  --color-gray-75: #8F95B3;
  --color-gray-100: #B5BAD4;
  --color-gray-200: #636C7E;
  --color-gray-250: #596080;
  --color-gray-300: #5A607D;
  --color-gray-400: #424866;
  --color-gray-450: #444962;
  --color-gray-500: #2E334C;
  --color-gray-600: #1C2033;

  --color-teal-500: #24A8AF;
  
  --ui-primary: var(--color-brand);
  --ui-text: var(--color-gray-400);
  --ui-container: none;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold;
}
